<!DOCTYPE html>
<html>
        <head>
                <title>Cool Interactive Title</title>
        </head>

        <body>
                {% block content1 %}
                <form action = "/logOut" method = "POST">
                        <input type = "submit" value = "logOut">
                </form>
                {% endblock %}

                {% block content2 %}
                <center> <h1>Welcome {{usrName}} to this cool page!</h1> </center>
                <br>
                Name: {{usrName}} <br>
                {% endblock %}
                
        </body>
</html>